<body>
  <div
    class="row"
    style="
      background-color: #1f0e33;
      justify-content: space-evenly;
      padding-bottom: 48px;
    "
  >
    <div
      id="carouselExample"
      class="carousel slide col-12"
      style="
        padding-bottom: 16px;
        width: auto;
        height: auto;
        max-width: 65vw;
        max-height: 65vh;
      "
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="/icons/logo_large.png"
            class="d-block w-100 h-100"
            alt="logo"
          />
        </div>
        <% newGameItems.forEach((item) => {%>

        <div class="carousel-item">
          <img
            src="<%=item.product_images%>"
            class="d-block w-100 h-100"
            alt="<%=item.product_name%>"
          />
        </div>
        <%});%>
      </div>
    </div>
    <div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
    </div>
    <div>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <% newGameItems.forEach((item) => {%>
    <a
      class="col-lg-3 col-md-4 col-sm-12 gameCard"
      href="/game/<%= item.product_id %>"
      ><div
        class=""
        style="
          background-image: url('<%=item.product_images%>');
          background-size: 100%;
        "
      >
        <p class="nameText"><%=item.product_name%></p>
        <div class="lowerDiv">
          <p class="priceText">$<%=item.product_price%></p>
          <img
            style="margin-right: 16px; padding-top: 16px; position: relative"
            class="plusIcon"
            src="/icons/+.png"
          />
        </div>
      </div>
    </a>
    <%});%>
  </div>
</body>
